<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">

</head>

<body style="padding-top: 40px">
<div class="container">
    <div id="root">

        <message-box title="Lorem Ipsum" body="Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet"></message-box>
        <message-box title="This is awesome" body="And it is easy too!">dsfds</message-box>
        <message-box title="This is awesome" body="And it is easy too!"></message-box>
        <message-box title="This is awesome" body="And it is easy too!"></message-box>


    </div>
</div>

</body>

<script src="/js/vue_main.js"></script>


</html>
