<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">

</head>

<body style="padding-top: 40px">
<div class="container">

    <div id="root">

        <tabs>
            <tab name="AboutUs" :selected="true">

                <h1>AboutUs content goes here</h1>

            </tab>

            <tab name="Pictures">

                <h1>Pictures content goes here</h1>

            </tab>

            <tab name="Videos">

                <h1>Videos content goes here</h1>

            </tab>

            <tab name="Media" >

                <h1>Media content goes here</h1>

            </tab>

            <tab name="New Tab" >

                <h1>New content goes here</h1>

            </tab>


        </tabs>



    </div>
</div>

</body>

<script src="/js/vue_main.js"></script>


</html>
